body{
    margin: 0;
    font-family: 'Indie Flower', cursive;;
}

p
 {
    font-family: 'Abel', sans-serif;    
}

h1 {
    font-size: 5vh;
    margin: 0; 
    margin-left: 2%;
    
}

.front-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(gallery/dogwalkingblog3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;
    min-width: 100vh;
    min-height: 90vh;
    border-bottom: black solid;
}


header {
    display: flex;
    border-bottom: solid black;
    align-items: baseline;
    padding: 2% 0% 1% 3%;
    background-color: #fdedc7;
}

header img {
    max-height: 5vh;
}

.product-pitch p{
    margin: 8% 0px;
}

.product-pitch p:nth-child(3) {
    margin: 0 0;
    margin-top: 20%;
    margin-bottom: 2%;
} 

h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 4vh !important;
}


input {
    width: 75%; 
    font-size: 3vh;
    padding-left: 1%;
    border: 0;
}

.input {
    display: flex;
}

.send_button {
    font-size: 3vh;
    background-color: green;
    color: white; 
    text-decoration: none;
    border: 1px;
    text-align: center;

}


h3{
    margin: 3% 4%;
    grid-column: 1 / 4;
    justify-self: center;
    font-size: 6vh;
    text-align: center;
}

.case {
    padding: 3% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: black solid;
    background-color: #fdedc7;

}


.senario img {
    max-width: 80%;
    margin-left: 55px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #ffff9aa8;
    border: solid;
}

.senario {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
   
    
}

.img_description {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 26%;
    padding: 0;
    padding-bottom: 15%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.img_description p:first-child {
    font-style: italic;
    font-weight: bold;
}

.linje{
grid-column: 1 / 4;
min-width: 80%;
border-bottom: 1px solid grey;
}

.product-pitch {
    grid-row: 1 / 3;
    align-self: start;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid lightgray;
    min-height: 90%;
    background-color: rgba(245, 252, 203, 0.85);
    border-radius: 13px;
}

article{
    margin: 0 3%;
}

footer {
    background-color: #fdedc7;
    text-align: end;
    padding: 1vh;
    font-family: 'Abel', sans-serif; 
}

a {
    font-family: 'Abel', sans-serif; 
}

@media screen and (max-width: 700px) {
    .case {
        display: block;
    }

    .front-page {
        min-width: 0;
        display: flex;
    }

    .product-pitch {
        margin-top: 0;
        margin: 5%;
    }

    article {
        margin: 5% 3%;
    }

    .product-pitch p:nth-child(3) {
        margin-top: 0;
    }



  }